/* fonts */
/* font-family: 'Andika', sans-serif;
font-family: 'Battambang', cursive;
font-family: 'Capriola', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Andika", sans-serif;
  line-height: 1.5;
  /* padding: 0 2rem; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* navbar */
header {
  /* margin: 0 2rem; */
  padding: 0 2rem;
  background-color: rgb(245, 243, 243);
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
#navbar .nav-logo p {
  margin-top: -0.86rem;
  letter-spacing: 2px;
}
#navbar .nav-item {
  display: flex;
  margin-top: 0.5rem;
}
#navbar .nav-item .item {
  margin: 0 4rem;
  font-size: 0.75rem;
}
#navbar .nav-item .item i {
  margin: 0 0.5rem;
}
#navbar .nav-item .item3 {
  margin-top: 0.55rem;
}
#showcase {
  display: flex;
}
#showcase .hero {
  width: 80%;
  height: 500px;
  margin-left: 1.2rem;
  background: url(../img/3.jpg) no-repeat center center/cover;
}
.hero h1 {
  text-shadow: 2px 2px 2px grey;
  color: rgb(0, 0, 0, 0.9);
  font-size: 5rem;
  line-height: 1.2;
  margin-left: 1rem;
}
.btn-dark {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1.2rem 2.5rem;
  background-color: black;
  color: white;
}
.btn-light {
  cursor: pointer;
  margin-top: 1rem;
  /* margin-left: 1rem; */
  font-size: 1rem;
  padding: 1.2rem 2.5rem;
  background-color: #fff;
  color: black;
}
.hero-item {
  margin-left: 8%;
  margin-top: 3rem;
}
.hero-item ul li {
  margin: 2rem 0;
}
/* section dinning */
#dining {
  display: flex;
  margin: 3rem;
  height: 350px;
}
.dining-left {
  display: flex;
}
.dining-left img {
  width: 280px;
  height: 250px;
  margin-right: 3rem;
}
#dining .content {
  width: 500px;
}
#dining .content h2 {
  font-size: 2rem;
}
#dining .content p {
  margin: 1rem 0;
}
.verticle-line {
  width: 2px;
  height: 13rem;
  background-color: rgba(151, 138, 138, 0.8);
  margin-right: 5rem;
  box-shadow: 2px 2px 5px 2px #ccc;
}
.design {
  display: flex;
  position: relative;
}

.design .solid {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.design .dotted {
  width: 40px;
  height: 40px;
  border: 1px dotted black;
}
.dining-right {
  width: 200px;
  margin-left: 8rem;
  margin-top: 1rem;
}
.dining-right p {
  margin: 1rem 0;
}

/* details section */
#details {
  background-color: rgb(245, 243, 243);
}
#details .header {
  width: 900px;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.detail-main {
  display: flex;
  margin: 4rem 2.5rem;
}
.detail-main .detail-left {
  width: 50%;
}
.detail-left h1 {
  font-size: 3.3rem;
}

.detail-left ul li {
  margin: 1.5rem 0;
  font-size: 2rem;
  border-bottom: 1px solid grey;
  width: 400px;
}
.detail-main .detail-right {
  width: 50%;
}
.detail-main .detail-right img {
  width: 100%;
}

/* features */
#features {
  height: 740px;
}
#features .header {
  text-align: center;
  font-size: 3.6rem;
}
.features-main {
  display: flex;
}
.features-main img {
  width: 100%;
  height: 100%;
}
.features-left {
  margin: 1rem 4rem;
  width: 23%;
  height: 370px;
}
.features-center {
  width: 23%;
  margin: 1rem 4rem;
  height: 370px;
}
.features-right {
  width: 23%;
  margin: 1rem 4rem;
}
