/* fonts */
/* font-family: 'Andika', sans-serif;
font-family: 'Battambang', cursive;
font-family: 'Capriola', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Battambang", sans-serif;
  line-height: 1.5;
  /* padding: 0 2rem; */
  /* background-color: rgb(245, 243, 243); */
  /* background-color: rgb(253, 235, 235); */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  /* margin: 0 2rem; */
  padding: 1rem 2rem;
  background-color: rgb(245, 243, 243);
}
.btn-dark-1 {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.75rem 3rem;
  background-color: black;
  color: white;
}
.btn-special {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  background-color: rgba(228, 236, 228, 0.9);
  color: black;
}

/* navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
#navbar .nav-logo p {
  margin-top: -0.86rem;
  letter-spacing: 2px;
}
#navbar .nav-item {
  display: flex;
  margin-top: 0.5rem;
}
#navbar .nav-item .item {
  margin: 0 4rem;
  font-size: 0.75rem;
}
#navbar .nav-item .item i {
  margin: 0 0.5rem;
}
#navbar .nav-item .item3 {
  margin-top: 0.55rem;
}
#showcase {
  display: flex;
}
#showcase .hero {
  width: 80%;
  height: 500px;
  margin-left: 1.2rem;
  background: url(../img/showcase-1.jpg) no-repeat center center/cover;
}
.hero h1 {
  text-shadow: 2px 2px 2px grey;
  color: rgba(228, 236, 228, 0.9);
  font-size: 5rem;
  line-height: 1.2;
  /* margin-left: 1rem; */
  margin: 1rem 1rem;
}
.btn-dark {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1.2rem 2.5rem;
  background-color: black;
  color: white;
}
.btn-light {
  cursor: pointer;
  margin-top: 1rem;
  /* margin-left: 1rem; */
  font-size: 1rem;
  padding: 1.2rem 2.5rem;
  background-color: #fff;
  color: black;
}
.hero-item {
  margin-left: 8%;
  margin-top: 3rem;
}
.hero-item ul li {
  margin: 2rem 0;
}
/* section dinning */
#dining {
  display: flex;
  margin: 3rem;
  height: 270px;
}
.dining-left {
  display: flex;
}
.dining-left img {
  width: 280px;
  height: 250px;
  margin-right: 3rem;
}
#dining .content {
  width: 500px;
}
#dining .content h2 {
  font-size: 2rem;
}
#dining .content p {
  margin: 1rem 0;
}
.verticle-line {
  width: 2px;
  height: 13rem;
  background-color: rgba(151, 138, 138, 0.8);
  margin-right: 5rem;
  box-shadow: 2px 2px 5px 2px #ccc;
}
.design {
  display: flex;
  position: relative;
}

.design .solid {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.design .dotted {
  width: 40px;
  height: 40px;
  border: 1px dotted black;
}
.dining-right {
  width: 200px;
  margin-left: 8rem;
  margin-top: 1rem;
}
.dining-right p {
  margin: 1rem 0;
}

/* details section */
#details {
  /* background-color: rgb(253, 235, 235); */
  background-color: rgb(245, 243, 243);
}
#details .header {
  width: 900px;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.detail-main {
  display: flex;
  margin: 4rem 2.5rem;
  padding-bottom: 2rem;
}
.detail-main .detail-left {
  width: 50%;
}
.detail-left h1 {
  font-size: 3.3rem;
}

.detail-left ul li {
  margin: 1.5rem 0;
  font-size: 2rem;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  width: 400px;
}
.detail-main .detail-right {
  width: 50%;
}
.detail-main .detail-right img {
  width: 100%;
}

/* features */
#features {
  height: 660px;
}
#features .header {
  text-align: center;
  font-size: 3.6rem;
}
.features-main {
  display: flex;
}
.features-main img {
  width: 100%;
  height: 60%;
}
.features-left {
  margin: 1rem 4rem;
  padding-left: 2rem;
  width: 25%;
  height: 500px;
  border-left: 1px solid rgb(105, 102, 102);
}
.features-center {
  width: 25%;
  margin: 1rem 4rem;
  padding-left: 2rem;
  /* height: 370px; */
  border-left: 1px solid rgb(105, 102, 102);
}
.features-right {
  width: 25%;
  margin: 1rem 4rem;
  padding-left: 2rem;
  /* height: 370px; */
  border-left: 1px solid rgb(105, 102, 102);
}

/* discounts */
#discounts {
  background-color: rgb(245, 243, 243);
}
.discount-main {
  display: flex;
  padding: 3rem 4rem;
}
.discount-left {
  width: 50%;
}
.discount-left img {
  width: 100%;
}

.discount-right {
  padding-left: 5rem;
}
.discount-right h1 {
  font-size: 3rem;
}
.discount-right p {
  margin: 1rem 0;
}
.discount-down {
  display: flex;
  margin: 2rem 0;
}
.discount-down .large {
  font-size: 4rem;
}
.para {
  font-size: 1.3rem;
}
.discount-down-left {
  border-left: 1px solid black;
  padding-left: 1rem;
}
.discount-down-right {
  border-left: 1px solid black;
  padding-left: 1rem;
}

/* gallary */
#gallary {
  padding: 4rem 6rem;
  padding-bottom: 14rem;
}
#gallary .header {
  font-size: 3.6rem;
}
#gallary ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(158, 154, 154);
  margin-top: 1.5rem;
}
#gallary ul li {
  font-weight: bold;
  padding: 0 1rem;
}
.gallary-main {
  display: flex;
  margin-top: 2rem;
}
.gallary-main img {
  width: 100%;
  height: 100%;
}
.gallary-left {
  width: 100%;
  height: 500px;
  margin-right: 2rem;
}
.gallary-right {
  width: 100%;
  height: 500px;
}
.gallary-right .btn-light {
  margin-top: 2.2rem;
}

/* suscribe */
#footer {
  background-color: rgb(245, 243, 243);
}
.footer-upper {
  display: flex;
  padding: 4rem;
}
.footer-upper .content {
  width: 50%;
}
.footer-upper .content h2 {
  font-size: 3rem;
  margin-top: -1.5rem;
}
.footer-upper .content p {
  margin: 1rem 0;
}
.footer-upper .form {
  width: 60%;
}
.form input {
  margin: 1rem 1rem;
  padding: 0.85rem 1.2rem;
  border: none;
  background-color: rgb(245, 243, 243);
  border-bottom: 1px solid rgb(73, 72, 72);
}
.footer-lower {
  margin: auto;
  background-color: #fff;
  /* height: 100vh; */
  width: 90%;
}
.footer-lower .center {
  text-align: center;
  padding-top: 2.7rem;
}
.footer-lower p {
  text-align: center;
  /* padding: 2rem; */
}
.foot {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
}
.foot h3 {
  text-align: center;
}
.foot ul {
  margin: 1rem 0;
}
.foot ul li {
  margin: 1rem 0;
  text-align: center;
}
